nav {
 background-color: lightcyan;
 width: 100vw;
 height: 8vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.theProperty {
    display: flex;
    border-bottom: 2px solid grey
}
.search{
    height: 5vh;
    width: 50vw;
    border: 1px solid black;

}

.propertyInfo {
    width: 35vw;
    height: 40vh;
    background-color: lightgrey;
    padding: 30px;
}

.listingTitle {
    font-size: 18px;
    width: 100%;
}
.propertyPics{
    width: 65vw;
    display: flex;
}
.propertyPics > img{
    border: 2px solid black;
    margin: 30px;
    width: 60%;
    height: 180px;
}

.imageIcons {
    margin-top: 10px;
    height: 230px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}

.eachImage {
    margin-bottom: 10px;
    border: 1px solid black;
}

.theProperty {

}