.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

*{
  font-size: 1.05em;
  font-family: sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.whole{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.body{
  background-color: blue;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  width: 100%;
  height: 100px;
  position: fixed top;
}

.listings{
  width: 80%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

.map-section{
  width: 30%;
  height: 100%;
  background-color: white;
}

.map{
  height: 60%;
  width: 100%;
  background-color: black;
}

.map-filters{
  height: 40%;
  width: 100%;
}

.pre-scrollable{
  max-height: 90vw;
}

.one-listing{
  height: auto;
  width: 40%;
  border: 1px solid black;
  margin: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.one-listing div{
  padding: 10px;
}

.image-container{
  height: 200px;
  width: 90%;
  overflow: hidden;
}

.image-container img{
  width: 100%;
  height: auto;
}

.the-navbar{
  display: flex;
  justify-content: space-around;
}

.searchbar{
  width: 800px;
  margin-right: 5px;
}

.all-shit{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: space-between;
  background-color: #EDE1D5;
}

.first-filters{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
  background-color: #EDE1D5;
}

.filter-button button{
  height: 10%;
  width: 90%;
  padding: 5px;
  background-color: #3E3E3E;
  margin-left: 10px;
}

.first-filters p {
 padding-left: 5px;
}

.one-listing{
  background-color: white;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
}

.map{
  background-color: transparent;
  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi7iOeb2f7lAhWOm1kKHRqzBB4QjRx6BAgBEAQ&url=https%3A%2F%2Fmedium.com%2F%40jkeung%2Fintegrating-google-maps-api-w-angular-7-e7672396ce2d&psig=AOvVaw32JWPXv10ZLge4R8j9BBJ-&ust=1574542275355675')
}